name: Download Logos

on:
  workflow_dispatch:
  schedule:
    - cron: '10 17 * * *'  # 12:10 AM Jakarta (UTC+7)

permissions:
  contents: write

jobs:
  download:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          pip install requests

      - name: Run Logo Downloader
        run: |
          python scripts/download_logos.py

      - name: Commit Changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "Auto download logos and update JSON"
          git push
